body { 
    background-image: linear-gradient(to bottom, #1a0a0a 0%, #311212 50%, #2f197c 100%);
    margin: 0;
    min-height: 100vh;
}
.botao-eua {
    display: inline-block;
    width: 35px;  /* Ajuste o tamanho como preferir */
    height: 35px;
    
    background-image: url('img/botãoEUA.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 50%; 
    
    text-indent: -9999px; 
    overflow: hidden;
    transition: 0.3s;
}

.botao-eua:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
/* Estilo para a imagem de banner se adaptar à tela */
.banner-topo {
    width: 100%;
    overflow: hidden;
}

.banner-topo img {
    width: 100%;
    height: auto;
    display: block; /* Tira espacamento fantasma embaixo da imagem */
}

.about {
    font-family: Cambria, serif;
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: 'Cinzel', serif;
    color: bisque;
    font-size: 30px;
    text-align: center;
}

.card {
    font-family: Cambria, serif;
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
    align-items: center;
    padding: 30px;
    width: 35%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: 0.5s; 
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer {
    text-align: center;
    padding: 20px; 
    font-size: 30px;
    color: aliceblue;
}

footer a {
    color: rgb(196, 254, 255);
    text-decoration: none;
}