
/* --- CSS --- */

body { 
    background-image: linear-gradient(to bottom, #1a0a0a 0%, #311212 50%, #2f197c 100%);
    margin: 0;
    min-height: 100vh;
}

h1 {
    width: 100%; 
    font-family: 'Cinzel', serif;
    color: bisque;
    font-size: 50px;
    text-align: center; 
}

.about {
    font-family: Cambria, serif;
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
}

h2 {
    font-family: 'Cinzel', serif;
    color: bisque;
    font-size: 30px;
    text-align: center;
}

.card {
    font-family: Cambria, serif;
    font-size: 25px; /* Reduzi um pouco para não quebrar o layout do texto */
    text-align: center;
    margin: 10px auto;
    align-items: center;
    padding: 30px;
    width: 35%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: 0.5s; 
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer { /* Corrigido de .footer para footer */
    font-family: 'Cinzel', serif;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

footer a {
    color: bisque;
    text-decoration: none;
}
